<div class="Allergy" ng-controller="AllergyCtrl">
  <span ng-click="createBlank()" class=" btn waves-effect waves-light blue col s11 offset-s1">
    <i class="material-icons">add</i><h2">Allergies</h2>
  </span>
    <!-- CREATE NEW SECTION -->
    <div ng-repeat="allergy in allergyBeingAdded">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li ng-hide="!hideTrue">
          <div class="collapsible-header active">
            <div class="row">
              <span ng-show="$last" ng-click="removeChoice()" class="primary-content waves-effect waves-purple right col s1 remove"><i class="material-icons">delete</i></span>
              <span class="primary-content waves-effect waves-purple right col s1 offset-s9"><i class="material-icons">info</i></span>
              
              <div class="col s6">
                <span class="title">Allergy Name:</span>
                <p>{{allergy.Name}}</p>
                <input ng-hide="hideTrue" ng-model="allergy.Name" type="text">
              </div>
              <div class="col s6">
                <span class="title">Reaction:</span>
                <p>{{allergy.Reaction}}</p>
                <input ng-hide="hideTrue" ng-model="allergy.Reaction" type="text">
              </div>
            </div>  
          </div> 
          
          <div class="collapsible-body">
            <div class="row noteSection">
              <span ng-click="hideTrue = !hideTrue; change(allergy.ShowOnPublicView)" class="waves-effect waves-purple right col s2"><i class="material-icons">edit_mode</i></span>
              <div class="col s10">
                <span class="title">Notes:</span>
                <p>{{allergy.Notes}}</p>
                <input ng-hide="hideTrue" ng-model="allergy.Notes" type="text">
              </div>
            </div>
          </div>
        </li>
      </ul>
      
      <div ng-hide="hideTrue" class="row sectionContainer">
        <form>
          <div class="col s6">
            <span class="title">Allergy Name:</span>
            <input ng-model="allergy.Name" type="text">
          </div>
          <div class="col s6">
            <span class="title">Reaction:</span>
            <input ng-model="allergy.Reaction" type="text">
          </div>
          <div class="row">
            <div class="col s12">
              <span class="title">Notes:</span>
              <input ng-model="allergy.Notes" type="text">
            </div>
          </div>
          <div  class="switch col s12">
            <label>
              <input ng-click="change(allergy.ShowOnPublicView)" ng-checked="allergy.ShowOnPublicView==true" type="checkbox" ng-model="allergy.ShowOnPublicView"/>
              <span class="lever right"></span>
              View on Public Profile?
            </label>
          </div>

          <!-- Customer Info Section -->
          <div ng-hide="true">
            <div ng-model="allergy.CustomerId"></div>
            <div ng-model="allergy.CustUserName"></div>
          </div>  

          <div class="col s3 offset-s3">
            <div ng-click="removeChoice()" class="btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">delete</i></div><br>Delete
          </div> 
          <div class="col s3">
            <div class="btn-floating btn-medium waves-effect waves-light yellow"><i ng-click="hideTrue = !hideTrue; deactivate();" class="material-icons">clear</i></div><br>Cancle
          </div>  
          <div class="col s3">
            <div ng-click="hideTrue = !hideTrue; create(allergy); removeChoice(); deactivate()" class="card-title btn-floating btn-medium waves-effect waves-light green"><i class="material-icons">save</i></div><br>Save
          </div>
        </form>
      </div>  
      <!-- END OF EDIT SECTION -->        
    </div>
    <!-- END OF NG-REPEATE -->
  <!-- END OF NEW SECTION     -->

    
    <div ng-repeat="allergy in allergyList">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li ng-hide="hideTrue">
          <div class="collapsible-header">
            <div class="row">
              <span class="primary-content waves-effect waves-purple right col s2 offset-s10"><i class="material-icons">info</i></span>
              <div class="col s6">
                <span class="title">Allergy Name:</span>
                <p>{{allergy.Name}}</p>
                <input ng-hide="!hideTrue" ng-model="allergy.Name" type="text">
              </div>
              <div class="col s6">
                <span class="title">Reaction:</span>
                <p>{{allergy.Reaction}}</p>
                <input ng-hide="!hideTrue" ng-model="allergy.Name" type="text">
              </div>
            </div>  
          </div> 

          <div class="collapsible-body">
            <div class="row noteSection">
              <span ng-click="hideTrue = !hideTrue; change(allergy.ShowOnPublicView)" class="waves-effect waves-purple right col s2"><i class="material-icons">edit_mode</i></span>
              <div class="col s10">
                <span class="title">Notes:</span>
                <p>{{allergy.Notes}}</p>
                <input ng-hide="!hideTrue" ng-model="allergy.Name" type="text">
              </div>
            </div>
          </div>
        </li>
      </ul>
     
      <!-- EDIT SECTION -->
      <div ng-hide="!hideTrue" class="row sectionContainer">
        <form>
          <div class="col s6">
            <span class="title">Allergy Name:</span>
            <input ng-model="allergy.Name" type="text">
          </div>
          <div class="col s6">
            <span class="title">Reaction:</span>
            <input ng-model="allergy.Reaction" type="text">
          </div>
          <div class="row">
            <div class="col s12">
              <span class="title">Notes:</span>
              <input ng-model="allergy.Notes" type="text">
            </div>
          </div>
          <div  class="switch col s12">
            <label>
              <input ng-click="change(allergy.ShowOnPublicView)" ng-checked="allergy.ShowOnPublicView==true" type="checkbox" ng-model="allergy.ShowOnPublicView"/>
              <span class="lever right"></span>
              View on Public Profile?
            </label>
          </div>

          <!-- Customer Info Section -->
          <div ng-hide="true">
            <div ng-model="allergy.CustomerId"></div>
            <div ng-model="allergy.CustUserName"></div>
          </div>  

          <div class="col s3 offset-s3">
            <div ng-click="delete(allergy.AllergyId)" class="btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">delete</i></div><br>Delete
          </div> 
          <div class="col s3">
            <div class="btn-floating btn-medium waves-effect waves-light yellow"><i ng-click="hideTrue = !hideTrue; deactivate()" class="material-icons">clear</i></div><br>Cancle
          </div> 
          <div class="col s3">
            <div ng-click="hideTrue = !hideTrue; update(allergy); removeChoice(); deactivate()" class="card-title btn-floating btn-medium waves-effect waves-light green"><i class="material-icons">save</i></div><br>Save
          </div> 
        </form>
      </div>  
      <!-- END OF EDIT SECTION -->        
    </div>
    <!-- END OF NG-REPEATE -->
  <!-- END OF EDIT SECTION -->
  </div>  
</div> 