<div class="CustomerMed" ng-controller="CustomerMedCtrl">
  <span ng-click="createBlank()" class=" btn waves-effect waves-light red col s11 offset-s1">
    <i class="material-icons">add</i><h2">Medications</h2>
  </span>
    <!-- CREATE NEW SECTION -->
    <div ng-repeat="customerMed in customerMedBeingAdded">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li ng-hide="!hideTrue">
          <div class="collapsible-header active">
            <div class="row">
              <span ng-show="$last" ng-click="removeChoice()" class="primary-content waves-effect waves-purple right col s1 remove"><i class="material-icons">delete</i></span>
              <span class="primary-content waves-effect waves-purple right col s1 offset-s9"><i class="material-icons">info</i></span>
              
              <div class="col s3">
                <span class="title">Brand Name:</span>
                <p>{{customerMed.BrandName}}</p>
                <input ng-hide="hideTrue" ng-model="customerMed.BrandName" type="text" placeholder="(i.e Tylenol)">
              </div>
              <div class="col s3">
                <span class="title">Generic Name:</span>
                <p>{{customerMed.GenericName}}</p>
                <input ng-hide="hideTrue" ng-model="customerMed.GenericName" type="text" placeholder="(i.e acetaminophen)">
              </div>
              <div class="col s3">
                <span class="title">Dosage:</span>
                <p>{{customerMed.Dosage}}</p>
                <input ng-hide="hideTrue" ng-model="customerMed.Dosage" type="text">
              </div>
              <div class="col s3">
                <span class="title">Frequency:</span>
                <p>{{customerMed.Frequency}}</p>
                <input ng-hide="hideTrue" ng-model="customerMed.Frequency" type="text">
              </div>
            </div>  
          </div> 

          <div class="collapsible-body">
            <div class="row noteSection">
              <span ng-click="hideTrue = !hideTrue; change(customerMed.ShowOnPublicView)" class="waves-effect waves-purple right col s1 offset-s11"><i class="material-icons">edit_mode</i></span>
              <div class="col s6">
                <span class="title">Drug Interactions to Avoid:</span>
                <p>{{customerMed.DrugInteractions}}</p>
                <input ng-hide="hideTrue" ng-model="customerMed.DrugInteractions" type="text">
              </div>
              <div class="col s6">
                <span class="title">Side Effects:</span>
                <p>{{customerMed.SideEffects}}</p>
                <input ng-hide="hideTrue" ng-model="customerMed.SideEffects" type="text">
              </div>
              <div class="col s10">
                <span class="title">Notes:</span>
                <p>{{customerMed.Notes}}</p>
                <input ng-hide="hideTrue" ng-model="customerMed.Notes" type="text">
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div ng-hide="hideTrue" class="row sectionContainer">
        <form>
         <div class="col s3">
            <span class="title">Brand Name:</span>
            <input ng-model="customerMed.BrandName" type="text" placeholder="(i.e Tylenol)">
          </div>
          <div class="col s3">
            <span class="title">Generic Name:</span>
            <input ng-model="customerMed.GenericName" type="text" placeholder="(i.e acetaminophen)">
          </div>
          <div class="col s3">
            <span class="title">Dosage:</span>
            <input ng-model="customerMed.Dosage" type="text">
          </div>
          <div class="col s3">
            <span class="title">Frequency:</span>
            <input ng-model="customerMed.Frequency" type="text">
          </div>
          <div class="row"> 
            <div class="col s6">
              <span class="title">Drug Interactions to Avoid:</span>
              <input ng-model="customerMed.DrugInteractions" type="text">
            </div>
            <div class="col s6">
              <span class="title">Side Effects:</span>
              <input ng-model="customerMed.SideEffects" type="text">
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <span class="title">Notes:</span>
              <input ng-model="customerMed.Notes" type="text">
            </div>
          </div>
          <div class="switch col s12">
            <label>
              <input ng-click="change(customerMed.ShowOnPublicView)" ng-checked="customerMed.ShowOnPublicView==true" type="checkbox" ng-model="customerMed.ShowOnPublicView"/>
              <span class="lever right"></span>
              View on Public Profile?
            </label>
          </div>

          <!-- Customer Info Section -->
          <div ng-hide="true">
            <div ng-model="customerMed.CustomerId"></div>
            <div ng-model="customerMed.CustUserName"></div>
          </div>  

          <div class="col s3 offset-s3">
            <div ng-click="removeChoice()" class="btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">delete</i></div><br>Delete
          </div> 
          <div class="col s3">
            <div class="btn-floating btn-medium waves-effect waves-light yellow"><i ng-click="hideTrue = !hideTrue; deactivate();" class="material-icons">clear</i></div><br>Cancle
          </div>  
          <div class="col s3">
            <div ng-click="hideTrue = !hideTrue; create(customerMed); removeChoice(); deactivate()" class="card-title btn-floating btn-medium waves-effect waves-light green"><i class="material-icons">save</i></div><br>Save
          </div>
        </form>
      </div>  
      <!-- END OF EDIT SECTION -->        
    </div>
    <!-- END OF NG-REPEATE -->
  <!-- END OF NEW SECTION     -->

    
    <div ng-repeat="customerMed in customerMedList">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li ng-hide="hideTrue">
          <div class="collapsible-header">
            <div class="row">
              <span class="primary-content waves-effect waves-purple right col s2 offset-s10"><i class="material-icons">info</i></span>
              <div class="col s3">
                <span class="title">Brand Name:</span>
                <p>{{customerMed.BrandName}}</p>
                <input ng-hide="!hideTrue" ng-model="customerMed.BrandName" type="text" placeholder="(i.e Tylenol)">
              </div>
              <div class="col s3">
                <span class="title">Generic Name:</span>
                <p>{{customerMed.GenericName}}</p>
                <input ng-hide="!hideTrue" ng-model="customerMed.GenericName" type="text" placeholder="(i.e acetaminophen)">
              </div>
              <div class="col s3">
                <span class="title">Dosage:</span>
                <p>{{customerMed.Dosage}}</p>
                <input ng-hide="!hideTrue" ng-model="customerMed.Dosage" type="text">
              </div>
              <div class="col s3">
                <span class="title">Frequency:</span>
                <p>{{customerMed.Frequency}}</p>
                <input ng-hide="!hideTrue" ng-model="customerMed.Frequency" type="text">
              </div>
            </div>  
          </div> 

          <div class="collapsible-body">
            <div class="row noteSection">
              <span ng-click="hideTrue = !hideTrue; change(customerMed.ShowOnPublicView)" class="waves-effect waves-purple right col s1 offset-s11"><i class="material-icons">edit_mode</i></span>
              <div class="col s6">
                <span class="title">Drug Interactions to Avoid:</span>
                <p>{{customerMed.DrugInteractions}}</p>
                <input ng-hide="!hideTrue" ng-model="customerMed.DrugInteractions" type="text">
              </div>
              <div class="col s6">
                <span class="title">Side Effects:</span>
                <p>{{customerMed.SideEffects}}</p>
                <input ng-hide="!hideTrue" ng-model="customerMed.SideEffects" type="text">
              </div>
              <div class="col s10">
                <span class="title">Notes:</span>
                <p>{{customerMed.Notes}}</p>
                <input ng-hide="!hideTrue" ng-model="customerMed.Notes" type="text">
              </div>
            </div>
          </div>
        </li>
      </ul>
     
      <!-- EDIT SECTION -->
      <div ng-hide="!hideTrue" class="row sectionContainer">
        <form>
          <div class="col s3">
            <span class="title">Brand Name:</span>
            <input ng-model="customerMed.BrandName" type="text" placeholder="(i.e Tylenol)">
          </div>
          <div class="col s3">
            <span class="title">Generic Name:</span>
            <input ng-model="customerMed.GenericName" type="text" placeholder="(i.e acetaminophen)">
          </div>
          <div class="col s3">
            <span class="title">Dosage:</span>
            <input ng-model="customerMed.Dosage" type="text">
          </div>
          <div class="col s3">
            <span class="title">Frequency:</span>
            <input ng-model="customerMed.Frequency" type="text">
          </div>
          <div class="row"> 
          <div class="col s6">
            <span class="title">Drug Interactions to Avoid:</span>
            <input ng-model="customerMed.DrugInteractions" type="text">
          </div>
          <div class="col s6">
            <span class="title">Side Effects:</span>
            <input ng-model="customerMed.SideEffects" type="text">
          </div>
          <div class="row">
            <div class="col s10">
              <span class="title">Notes:</span>
              <input ng-model="customerMed.Notes" type="text">
            </div>
          </div>
          <div class="switch col s12">
            <label>
              <input ng-click="change(customerMed.ShowOnPublicView)" ng-checked="customerMed.ShowOnPublicView==true" type="checkbox" ng-model="customerMed.ShowOnPublicView"/>
              <span class="lever right"></span>
              View on Public Profile?
            </label>
          </div>
          <!-- Customer Info Section -->
          <div ng-hide="true">
            <div ng-model="customerMed.CustomerId"></div>
            <div ng-model="customerMed.CustUserName"></div>
          </div>  

          <div class="col s3 offset-s3">
            <div ng-click="delete(customerMed.CustomerMedId)" class="btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">delete</i></div><br>Delete
          </div> 
          <div class="col s3">
            <div class="btn-floating btn-medium waves-effect waves-light yellow"><i ng-click="hideTrue = !hideTrue; deactivate()" class="material-icons">clear</i></div><br>Cancle
          </div> 
          <div class="col s3">
            <div ng-click="hideTrue = !hideTrue; update(customerMed); removeChoice(); deactivate()" class="card-title btn-floating btn-medium waves-effect waves-light green"><i class="material-icons">save</i></div><br>Save
          </div> 
        </form>
      </div>  
      <!-- END OF EDIT SECTION -->        
    </div>
    <!-- END OF NG-REPEATE -->
  <!-- END OF EDIT SECTION -->
  </div>  
</div> 