<div class="EmContact" ng-controller="EmContactCtrl">
  <span ng-click="createBlank()" class=" btn waves-effect waves-light red col s11 offset-s1">
    <i class="material-icons">add</i><h2">Emergency Contacts</h2>
  </span>
    <!-- CREATE NEW SECTION -->
    <div ng-repeat="emContact in emContactBeingAdded">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li ng-hide="!hideTrue">
          <div class="collapsible-header active">
            <div class="row">
              <span ng-show="$last" ng-click="removeChoice()" class="primary-content waves-effect waves-purple right col s1 remove"><i class="material-icons">delete</i></span>
              <span class="primary-content waves-effect waves-purple right col s1 offset-s9"><i class="material-icons">info</i></span>
              
              <div class="col s4">
                <span class="title">Contact Name:</span>
                <p>{{emContact.EmContactName}}</p>
                <input ng-hide="!hideTrue" ng-model="emContact.EmContactName" type="text">
              </div>
              <div class="col s4">
                <span class="title">Relationship:</span>
                <p>{{emContact.Relationship}}</p>
                <input ng-hide="!hideTrue" ng-model="emContact.Relationship" type="text">
              </div>
              <div class="col s4">
                <span class="title">Number:</span>
                <p>{{emContact.EmergencyContactPhone}}</p>
                <input ng-hide="!hideTrue" ng-model="emContact.EmergencyContactPhone" type="text">
              </div>
            </div>  
          </div> 

          <div class="collapsible-body">
            <div class="row noteSection">
              <span ng-click="hideTrue = !hideTrue; change(emContact.ShowOnPublicView)" class="waves-effect waves-purple right col s2"><i class="material-icons">edit_mode</i></span>
              <div class="col s10">
                <span class="title">Notes:</span>
                <p>{{emContact.Notes}}</p>
                <input ng-hide="!hideTrue" ng-model="emContact.Notes" type="text">
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div ng-hide="hideTrue" class="row sectionContainer">
        <form>
          <div class="col s4">
            <span class="title">Contact Name:</span>
            <input ng-model="emContact.EmContactName" type="text">
          </div>
          <div class="col s4">
            <span class="title">Relationship:</span>
            <input ng-model="emContact.Relationship" type="text">
          </div>
          <div class="col s4">
            <span class="title">Number:</span>
            <input ng-model="emContact.EmergencyContactPhone" type="text">
          </div>
          <div class="row">
            <div class="col s12">
              <span class="title">Notes:</span>
              <input ng-model="emContact.Notes" type="text">
            </div>
          </div>
          <div  class="switch col s12">
            <label>
              <input ng-click="change(emContact.ShowOnPublicView)" ng-checked="emContact.ShowOnPublicView==true" type="checkbox" ng-model="emContact.ShowOnPublicView"/>
              <span class="lever right"></span>
              View on Public Profile?
            </label>
          </div>

          <!-- Customer Info Section -->
          <div ng-hide="true">
            <div ng-model="emContact.CustomerId"></div>
            <div ng-model="emContact.CustUserName"></div>
          </div>  

          <div class="col s3 offset-s3">
            <div ng-click="removeChoice()" class="btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">delete</i></div><br>Delete
          </div> 
          <div class="col s3">
            <div class="btn-floating btn-medium waves-effect waves-light yellow"><i ng-click="hideTrue = !hideTrue; deactivate();" class="material-icons">clear</i></div><br>Cancle
          </div>  
          <div class="col s3">
            <div ng-click="hideTrue = !hideTrue; create(emContact); removeChoice(); deactivate()" class="card-title btn-floating btn-medium waves-effect waves-light green"><i class="material-icons">save</i></div><br>Save
          </div>
        </form>
      </div>  
      <!-- END OF EDIT SECTION -->        
    </div>
    <!-- END OF NG-REPEATE -->
  <!-- END OF NEW SECTION     -->
    
    <div ng-repeat="emContact in emContactList">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li ng-hide="hideTrue">
          <div class="collapsible-header">
            <div class="row">
              <span class="primary-content waves-effect waves-purple right col s2 offset-s10"><i class="material-icons">info</i></span>
               <div class="col s4">
                <span class="title">Contact Name:</span>
                <p>{{emContact.EmContactName}}</p>
                <input ng-hide="!hideTrue" ng-model="emContact.EmContactName" type="text">
              </div>
              <div class="col s4">
                <span class="title">Relationship:</span>
                <p>{{emContact.Relationship}}</p>
                <input ng-hide="!hideTrue" ng-model="emContact.Relationship" type="text">
              </div>
              <div class="col s4">
                <span class="title">Number:</span>
                <p>{{emContact.EmergencyContactPhone}}</p>
                <input ng-hide="!hideTrue" ng-model="emContact.EmergencyContactPhone" type="text">
              </div>

            </div>  
          </div> 

          <div class="collapsible-body">
            <div class="row noteSection">
              <span ng-click="hideTrue = !hideTrue; change(emContact.ShowOnPublicView)" class="waves-effect waves-purple right col s2"><i class="material-icons">edit_mode</i></span>
              <div class="col s10">
                <span class="title">Notes:</span>
                <p>{{emContact.Notes}}</p>
                <input ng-hide="!hideTrue" ng-model="emContact.EmContactName" type="text">
              </div>
            </div>
          </div>
        </li>
      </ul>
     
      <!-- EDIT SECTION -->
      <div ng-hide="!hideTrue" class="row sectionContainer">
        <form>
          <div class="col s4">
            <span class="title">Contact Name:</span>
            <input ng-model="emContact.EmContactName" type="text">
          </div>
          <div class="col s4">
            <span class="title">Relationship:</span>
            <input ng-model="emContact.Relationship" type="text">
          </div>
           <div class="col s4">
            <span class="title">Number:</span>
            <input ng-model="emContact.EmergencyContactPhone" type="text">
          </div>
          <div class="row">
            <div class="col s12">
              <span class="title">Notes:</span>
              <input ng-model="emContact.Notes" type="text">
            </div>
          </div>
          <div  class="switch col s12">
            <label>
              <input ng-click="change(emContact.ShowOnPublicView)" ng-checked="emContact.ShowOnPublicView==true" type="checkbox" ng-model="emContact.ShowOnPublicView"/>
              <span class="lever right"></span>
              View on Public Profile?
            </label>
          </div>

          <!-- Customer Info Section -->
          <div ng-hide="true">
            <div ng-model="emContact.CustomerId"></div>
            <div ng-model="emContact.CustUserName"></div>
          </div>  

          <div class="col s3 offset-s3">
            <div ng-click="delete(emContact.EmContactId)" class="btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">delete</i></div><br>Delete
          </div> 
          <div class="col s3">
            <div class="btn-floating btn-medium waves-effect waves-light yellow"><i ng-click="hideTrue = !hideTrue; deactivate()" class="material-icons">clear</i></div><br>Cancle
          </div> 
          <div class="col s3">
            <div ng-click="hideTrue = !hideTrue; update(emContact); removeChoice(); deactivate()" class="card-title btn-floating btn-medium waves-effect waves-light green"><i class="material-icons">save</i></div><br>Save
          </div> 
        </form>
      </div>  
      <!-- END OF EDIT SECTION -->        
    </div>
    <!-- END OF NG-REPEATE -->
  <!-- END OF EDIT SECTION -->
  </div>  
</div> 