<div ng-controller="LoginController">
  <div class="navbar">
    <nav>
  <div class="nav-wrapper">
    <div class="row">
      <div class="col 1 logo"><img src="../img/logo.png" alt=""></div>
      <label class="col 1">B.M.H</label>
      <div class="col s4 offset-s4">
        <form>
          <div class="input-field">
            <input ng-model="CustUserName" id="search" type="search" />
            <label for="search"><i class="material-icons">account_circle</i></label>
          </div>
        </form>
      </div>
      <div class="col s1">
        <ul class="right">
          <li><div ng-click="routeChange(CustUserName)"><i  class="material-icons">search</i></div></li>
        </ul>
      </div>
      <div class="col s1">
        <ul class="right">
          <li>
            <a href="#" ng-click="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
  </div>
</div>
<div class="container">
  <div ng-include src="'/partials/personalInfo.html'"></div>
  <div ng-include src="'/partials/medicalCondition.html'"></div>
  <div ng-include src="'/partials/emContact.html'"></div>
  <div ng-include src="'/partials/customerMed.html'"></div>
  <div ng-include src="'/partials/allergy.html'"></div>
  <div ng-include src="'/partials/physician.html'"></div>
  <div ng-include src="'/partials/insurance.html'"></div>
</div>  
<footer class="page-footer">     
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">Products</a>
    </div>
  </div>
</footer>