<div class="Allergy" ng-controller="AllergyCtrl">
  <span class=" btn waves-effect waves-light red col s11 offset-s1">
    <h2">Allergies</h2>
  </span>
    <div ng-repeat="allergy in allergyList">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <div class="row">
              <span class="primary-content waves-effect waves-purple right col s2 offset-s10"><i class="material-icons">info</i></span>
              <div class="col s6">
                <span class="title">Allergy Name:</span>
                <p>{{allergy.Name}}</p>
              </div>
              <div class="col s6">
                <span class="title">Reaction:</span>
                <p>{{allergy.Reaction}}</p>
              </div>
            </div>  
          </div> 

          <div class="collapsible-body">
            <div class="row noteSection">
              <div class="col s12">
                <span class="title">Notes:</span>
                <p>{{allergy.Notes}}</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    <!-- END OF NG-REPEATE -->
  </div>  
</div> 