footer {
	background-color: #268ee0 !important;
}
h1 {
	font-size: 2.5rem;
	margin-left: 65px;
	display: inline;
}
h3 {
text-align: center;
}
input[type=text] {
	font-size: .8rem;
}
label {
    font-size:1.2em; 
}
li {
	list-style: none;
}
nav {
	background-color: rgba(200,200,200,.8);
	margin-bottom: 10px;
}
nav img {
	margin-top: 5px;
	width: 50px;
}

.card.smOverride {
	height: 170px;
}
.card .card-content, .card .card-reveal {
	padding: 5px;
}
.collapsible-header {
	line-height: 2em;
}
.collapsible.popout {
	margin: 5px;
}
.container {
	margin: 25px auto 0;
	padding: 10px 25px;
	background-color: rgba(200,200,200,.3);
	box-shadow: -5px -5px 100px #667;
	border: 1px outset rgba(0,0,0,.5);
}
.noteSection{
	margin-top: 10px;
}
.PersonalInfo {
	margin-top: 20px;
}
.public{
	background-color: green;
	color: purple;
}
.sectionContainer{
	width: 80%;
	margin: 0 auto;
}
.switch {
	margin-bottom: 20px;
}
.title {
	color: #268ee0;
	font-weight: bold;
}

/**********
LOGGIN
**********/
.loggin, .signUp {
	background-color: white;
	padding-bottom: 50px;
	border-radius: 10px;
	width: 400px;
	margin: 0 auto;
}
.signUp {
	padding-top: 50px;
}

.signUpLink {
	color: #31B0D5;
}
.logout {
	margin-left: 120px;
}
  .main {
    max-width: 320px;
    margin: 0 auto;
  }
  .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  /*
	***OPTIONAL***
  body {
	font-family: 'Open Sans', sans-serif;
	background-image: url("https://lh6.googleusercontent.com/-cVLfKfUtG5I/VM1HblhKsxI/AAAAAAAAB7o/nvFh7wpIn7U/s1600/black-wood-wallpaper-wallpaper-1080p.jpg");
    background-size: contain;
    font-size: .8em;
    font-weight: bold;
    padding:0;
    margin:0;
    color: #2DAC90;
}
select {
	width: 150px;
	font-size: 1.1em;
	-webkit-appearance: none;
   	-moz-appearance:    none;
   	appearance:         none;
   	padding: 2px;
}
.forms {          					
	background-color: rgba(34,34,34,.9);
	border: 2px solid black;
	float: left;
	padding: 1em;
	margin: 5px 2px;
	box-shadow: inset 0 0 7px rgba(175,175,190, .8);
}
.btnSpaceLft {
	margin-left: 20px;
}
.card .card-title {
	font-size: 1rem;
}*/